<mat-card>
    <mat-grid-list *ngIf="pokemon" cols="3" rowHeight="100px">
        <mat-grid-tile [colspan]=1 [rowspan]=2>
            <div>
                <p>
                    <img class="fit-picture" src="assets\img\official-artwork\{{ pokemon.id }}.png" alt="pokemon_image_{{ pokemon.id }}">
                </p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=2>
            <div>
                <p> {{ pokemon.name }} - No. {{ pokemon.id | number : '3.0' }}
                    <button *ngIf="pokemon.id" mat-icon-button (click)="playSound(pokemon.id.toString())">
                        <mat-icon>play_circle_outline</mat-icon>
                    </button>
                </p>
                <p> 
                    <mat-chip-list aria-label="Type display">
                        <mat-chip *ngFor="let type of pokemon.types">{{ type }}</mat-chip>
                    </mat-chip-list> 
                </p>
                <p> Taille : {{ pokemon.height | number : '1.1-1' }} m</p>
                <p> Poids : {{ pokemon.weight | number : '1.1-1' }} kg</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=1>
            <p> {{ pokemon.description }}</p>
        </mat-grid-tile>
    </mat-grid-list>
    <button  mat-raised-button color="primary" (click)="addPokemonToTeam()" [disabled]="!canAdd">Catch</button>&nbsp;&nbsp;<img *ngIf="canAdd && !isInTeam" class="fit-picture-catch" src="assets\img\catch.png" alt="catch_image">
    <button *ngIf="isInTeam" mat-raised-button color="warn" (click)="removePokemonFromTeam()">Release</button>&nbsp;&nbsp;<img *ngIf="isInTeam" class="fit-picture-release" src="assets\img\release.png" alt="release_image">
</mat-card>