.fit-picture {
    width: 200px;
    height: auto;
}

.fit-picture-catch {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

.fit-picture-release {
    width: 40px;
    height: auto;
    vertical-align: middle;
}